@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

textarea, input { outline: none; }

/**
 * General styles
 */
body{
    background:url("../images/site-background.jpg");
    font-family: 'Asap', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Patrick Hand SC', comic-sans, cursive, arial, sans-serif;
}

/**
 * Header styles
 */

#header{
    height:90px;
    background:#222222;
}

#header .content{
    width:1000px;
    margin:0px auto;
}

#header a{
    color:#e6e3bb;
    text-decoration:none;
}

#header a:hover{
    color: #c9c6a2;
    text-decoration:none;
}

#header .subscribeCTA{
    font-size:16px;
    float:right;
    color:#8e4423;
    font-family:'Asap', arial, sans-serif;
    font-style:italic;
    margin-top:13px;
    margin-right:34px;
}

#header input{
    /* fallback */
    background-color: #25282b;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#242729), to(#282b2d));
    background: -webkit-linear-gradient(top, #242729, #282b2d);
    background: -moz-linear-gradient(top, #242729, #282b2d);
    background: -ms-linear-gradient(top, #242729, #282b2d);
    background: -o-linear-gradient(top, #242729, #282b2d);
    border:1px solid #3a3a39;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:8px;
    color:#e6e3bb;
}

#header input.submit{
    /* fallback */
    background-color: #b1592e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1592e), to(#692d17));
    background: -webkit-linear-gradient(top, #b1592e, #692d17);
    background: -moz-linear-gradient(top, #b1592e, #692d17);
    background: -ms-linear-gradient(top, #b1592e, #692d17);
    background: -o-linear-gradient(top, #b1592e, #692d17);
    border:1px solid #3a3a39;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:8px;
    color:#e6e3bb;
    cursor:pointer;
}

#header #mailingForm{
    clear:right;
    float:right;
    margin-top:5px;
}

#siteNav{
    position:relative;
    top:35px;
}

#header li{
    float:left;
    margin-right:30px;
    font-size:14px;
}

#header li.currentPage a{
    color:#8e4423;
}

#header .logo{
    float:left;
    font-size:36px;
    margin: 25px 30px 0 0;
    padding-right: 30px;
    border-right: 1px solid #7b7a6d;
}




/**
 * General content area styles
 */
#content{
    width:1000px;
    margin:0px auto;
}



/**
 * Home page
 */
.logoLarge{
    margin:30px auto;
    display:block;
}

.mainBanner{
    width:750px;
    padding:0 125px;
    background:url("../images/index-title-banner.png") no-repeat center top;
    min-height:175px;
    text-align: center;
    color: #FFF;
}

.mainBanner h2{
    font-size: 40px;
    margin: 0 auto;
    text-shadow: 5px 5px 8px #000;
}

.mainBanner h3{
    font-size: 20px;
    margin: 6px auto 0 auto;
    text-shadow: 5px 5px 8px #000;
}