@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

textarea, input { outline: none; }

/**
 * General styles
 */
body{
    line-height: 1;
    background:url("../images/site-background.jpg");
}

body, .bodyFont{
    font-family: 'Asap', arial, sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Patrick Hand SC', comic-sans, cursive, arial, sans-serif;
    font-size:48px;
    color:#e6e3bb;
    font-weight:bold;
}

h2{
    font-size:36px;
}

h3{
    font-size:24px;
}

h4{
    font-size:18px;
}

p{
    line-height:1.5;
}

a{
    color:#FFF;
}

a:hover{
    color: #c9c6a2;
}

/**
 * Header styles
 */

#header{
    height:90px;
    background:#222222;
}

#header .content{
    width:1000px;
    margin:0px auto;
}

#header a{
    color:#e6e3bb;
    text-decoration:none;
}

#header a:hover{
    color: #c9c6a2;
    text-decoration:none;
}

#header .subscribeCTA{
    font-size:16px;
    float:right;
    color:#8e4423;
    font-family:'Asap', arial, sans-serif;
    font-style:italic;
    margin-top:13px;
    margin-right:34px;
}

#header input{
    /* fallback */
    background-color: #25282b;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#242729), to(#282b2d));
    background: -webkit-linear-gradient(top, #242729, #282b2d);
    background: -moz-linear-gradient(top, #242729, #282b2d);
    background: -ms-linear-gradient(top, #242729, #282b2d);
    background: -o-linear-gradient(top, #242729, #282b2d);
    border:1px solid #3a3a39;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:8px;
    color:#e6e3bb;
}

#header input.submit, .cta-apply{
    /* fallback */
    background-color: #b1592e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1592e), to(#692d17));
    background: -webkit-linear-gradient(top, #b1592e, #692d17);
    background: -moz-linear-gradient(top, #b1592e, #692d17);
    background: -ms-linear-gradient(top, #b1592e, #692d17);
    background: -o-linear-gradient(top, #b1592e, #692d17);
    border:1px solid #3a3a39;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:8px;
    color:#e6e3bb;
    cursor:pointer;
    text-decoration:none;
}

.cta-apply{
    padding:10px 40px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-size:20px;
    display:inline-block;
}

#header #mailingForm{
    clear:right;
    float:right;
    margin-top:5px;
}

#siteNav{
    position:relative;
    top:35px;
}

#header li{
    float:left;
    font-size:14px;
    margin:0 30px 0 0;
}

#header li.currentPage a{
    color:#8e4423;
}

#header .logo{
    float:left;
    font-size:36px;
    margin: 25px 30px 0 0;
    padding-right: 30px;
    border-right: 1px solid #7b7a6d;
}



/**
 * General content area styles
 */
#content{
    width:1000px;
    margin:0px auto;
}

.colorBar{
    width:100%;
    height:30px;
}

.colorBarSmall{
    width:100%;
    height:9px;
}

.contentBodyType1{
    background-color:#e6e3bb;
    padding:30px 150px;
}

.contentBodyType2{
    background-color:#242729;
    padding:30px 150px;
}

.contentBodyType3{
    background-color:#e6e3bb;
    padding:30px 20px;
}

.contentBodyType4{
    background-color:#242729;
    padding:30px 20px;
    color:#e6e3bb;
}

.contentBodyType5{
    background-color:#323639;
    padding:30px;
    color:#e6e3bb;
}

.contentBodyType1 h1,
.contentBodyType1 h2,
.contentBodyType1 h3,
.contentBodyType1 h4{
    color:#8e4423;
    margin:0;
}

.contentBodyType1 p{
    padding:5px 0 30px 0;
}

.contentBodyType2 p{
    padding:5px 0 30px 0;
    color:#e6e3bb;
}

.contentBodyType2 h3{
    line-height:1.3;
}

.textCenter{
    text-align:center;
}

.textNotCentered{
    text-align:left;
}

.centered{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.textNormal{
    font-weight:normal !important;
}

.contentBodyType1 p:last-child,
.contentBodyType2 p:last-child{
    padding-bottom:0;
    margin-bottom:0;
}

.contentBodyType1 a{
    color:#8e4423;
}

.rightColLarge{
    width:650px;
    padding:20px;
    float:right;
}

.leftColSmall{
    width:270px;
    padding:20px;
    float:left;
}

.two-column{
    width:450px;
    padding-left:30px;
    float:left;
}

.subtitle{
    font-size:12px;
    margin-top:10px;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
}

.no-padding-hor{
    padding-left:0;
    padding-right:0;
}

.fillImage{
    padding-top:20px;
}

.titlePadding{
    padding-bottom:20px;
}

.bottomMargin{
    margin-bottom:30px;
}

.alignLeft{
    text-align:left;
}

li{
    margin-top:5px;
    margin-left:40px;
    line-height:1.5;
}


/**
 * Home page
 */
.logoLarge{
    margin:30 auto 0;
    display:block;
}

.mainBanner{
    margin:30px auto 0;
    display:block;
}

.mainBanner h2{
    font-size: 40px;
    margin: 0 auto;
    text-shadow: 5px 5px 8px #000;
}

.mainBanner h3{
    font-size: 20px;
    margin: 6px auto 0 auto;
    text-shadow: 5px 5px 8px #000;
}

.lowerHomeContent {
    clear:both;
    margin-bottom:20px;
}

.lowerHomeContent img{
    margin-top:50px;
}

.lowerHomeContent h3{
    margin:0 0 20px 0;
    color:#8e4423;
}

.lowerHomeContent div{
    width:700px;
}

.lowerHomeContent:last-child{
    padding-top:20px;
}


/**
 * Program page
 */

#programPoem{
    color:#222222;
}

#programPoem h3{
    color:#222222;
    margin-bottom:20px;
}

#programPoem .subtitle{
    text-align:right;
    padding-right:20px;
}

.programTitle{
    margin:0px 50px 30px 50px;
}

.programFill{
    margin:20px 0;
}

.programContentBG{
    background:url("../images/program-poem-background.jpg");
}



/**
 * Place page
 */



/**
 * Team page
 */
.teamContent{
    border:5px solid #3399cc;
    background-color:#323639;
    padding:20px 130px;
}

.bioImage{
    margin:10px 0 30px 0;
    padding:0px;
}



/**
 * Footer
 */

#footer{
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    background-color:#242729;
    color:#725142;
    font-size:11px;
    padding:20px;
    margin-bottom:80px;
}



/**
 * Slideshow
 */
.slideshow{
    border:5px solid #871f07;
    width:729px;
    height:284px;
    overflow:hidden;
}

.slideshowOverlay{
    z-index:500;
}

.backButton, .nextButton{
    width:43px;
    height:48px;
    display:block;
    background:url("../images/back-button.png");
    cursor:pointer;
}

.nextButton{
    background:url("../images/next-button.png");
}